

<% @users.each do |post| %>
  <%= link_to edit_user_registration_path(post), class: 'text-decoration-none' do %>
    <div class="card mb-3 post-card">
      <div class="card-body">
        <div class="row">

          <div class="col-md-10">

            <h5 class='card-title mb-2 text-dark'><%= post.username %></h5>
            <p class='text-secondary mb-0'><%= post.role%></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
