
<h2>Welcome to</h2>

<h4><%= current_user.username %>'s Profile</h4>

<div class="wrapper">

    <div class="profile">
        <div class="overlay">
            <div class="about d-flex flex-column">
                <h4><%= current_user.username %></h4> <span><%= current_user.role %></span>
            </div>
            <ul class="social-icons">
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-linkedin"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-instagram"></i></li>
            </ul>
        </div>
    </div>
</div>


