 <div class="row">
             <div class="col like-pane">
         <%=render partial: 'likes/like' ,locals: {likeable: l}%>
          </div>
            <div class="col report-pane">
          <%=render partial: 'reports/report' ,locals: {reportable: l}%>
          </div>
          </div>
