 <% if post.published? %>
          <a href="#"
            class='btn btn-secondary '
            data-reflex='click->PublisherReflex#unpublish'
            data-post-id='<%= post.id %>'>
            Unpublish
          </a>
      <% else %>
          <a href="#"
            class='btn btn-dark'
            data-reflex='click->PublisherReflex#publish'
            data-post-id='<%= post.id %>'>
            Publish
          </a>

         <% end %>
